@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Carter+One&family=Kaushan+Script&family=Noto+Sans:wght@500&family=Poppins&family=Rubik+Microbe&family=Satisfy&family=Train+One&family=Urbanist&display=swap');
body {
  background-image: url('weather.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
h1{
  font-family: 'Carter One', cursive;
  color: rgb(28, 28, 65);
}

h3{
  font-family: 'Poppins', sans-serif;
}
h2{
  font-family: 'Urbanist', sans-serif;
}

li{
  font-family: 'Noto Sans', sans-serif;
}